@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

/* styles.css (or your preferred CSS file) */
.body-no-scroll {
  overflow: hidden;
}
